.option{
    color: white;
    padding : 0px 15px;
    -webkit-app-region: no-drag;
}
#headerRow{
    background: #2f3136;
    opacity: 0;
    -webkit-app-region: drag;
}
#nodragpls{
    background: #2f3136;
}
#close-btn:hover{
    background: red;
}
#min-btn:hover{
    background: #36393f;
}
#max-btn:hover{
    background: #36393f;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }